.table {
    font-size: 12px
}


table { table-layout: fixed; }

table td { word-wrap: break-word; }

/*
 resume table content
*/
table td.filtre,
table td.content {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;}

h3{
    border:0px solid #eee;
    border-bottom-width:5px;
    border-bottom-color:#5bc0de;
    border-radius:3px
}

.bs-callout{
    width:80%;
    margin: 0 auto;
    padding:20px;
/*    margin:20px 0;*/
    border:1px solid #eee;
    border-left-width:5px;
    border-radius:3px
}

.bs-callout h4{
    margin-top:0;
    margin-bottom:5px
}

.bs-callout p:last-child{
    margin-bottom:0
}

.bs-callout code{
    border-radius:3px
}

.bs-callout+.bs-callout{
    margin-top:-5px
}

.bs-callout-danger{
    border-left-color:#d9534f
}

.bs-callout-danger h4{
    color:#d9534f
}

.bs-callout-warning{
    border-left-color:#f0ad4e
}

.bs-callout-warning h4{
    color:#f0ad4e
}

.bs-callout-info{
    border-left-color:#5bc0de
}

.bs-callout-info h4{
    color:#5bc0de
}
